// Color system
$white:    #fff !default;
$black:    #000 !default;
$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #f04242; 
$red:     #940b0b;
$orange:  #FFFF6B;
$yellow:  rgba(226, 89, 65, 0.726);
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

$colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$colors: map-merge(
  (
    "blue":       $blue,
    "indigo":     $indigo,
    "purple":     $purple,
    "pink":       $pink,
    "red":        $red,
    "orange":     $orange,
    "yellow":     $yellow,
    "green":      $green,
    "teal":       $teal,
    "cyan":       $cyan,
    "white":      $white,
  ),
  $colors
);

$primary:       $blue !default;
$success:       $green !default;
$info:          $red;
$warning:       $yellow;
$danger:        $red;
//nav bar styling
$navbar-light-color:                rgba($yellow, .5);
$navbar-light-hover-color:          rgba($black, .7);
$navbar-light-active-color:         rgba($black, .9);
//background
$body-bg:                   $white;
//border style
$border-color:                $red;
$border-width:                4px;
//card style
$card-border-width:                 0px;
$card-border-color:                 $white;
$card-cap-bg:                       rgba($yellow, .03);
$card-cap-color:                    null !default;
$card-color:                        null;
$card-bg:                           $white;

$card-img-overlay-padding:          1.25rem !default;

$card-columns-count:                3 !default;
$card-columns-gap:                  1.25rem !default;
$card-img-overlay-padding:          0rem;
$card-spacer-y:                     .75rem;
$card-columns-margin:               2rem;

//list
$list-group-bg:                     $white;
//Font
$font-size-base:              1rem;
//carousel
$carousel-indicator-width:           40px;
$carousel-indicator-height:          4px;
$carousel-indicator-hit-area-height: 10px !default;
$carousel-indicator-spacer:          3px !default;
$carousel-indicator-active-bg:       $red;

//container

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1500px,
);

@import "node_modules/bootstrap/scss/bootstrap";