.navbarcontent{
    transition: all 1s;
    margin-left: 30%;
    margin-right: 0%;
}
.navbarcontent:hover{
    transform: scale(1.2);
}
.footer_img{
    background-image: url(kepek/footer_1.png);
    background-size: cover;
}
.rolunk_bigger{
   font-size: 110%;
}
.row_padding{
    padding-top: 2%;
    padding-bottom: 2%;
}
#span_kapcs{
    color: red;
    font-size: 103%
}
#form_kapcs{
    padding-top: 20px;
    padding-bottom: 20px;
}
#bg_color{
    background-color: rgb(177, 13, 22);
}
.navbar{
    background-color:rgb(104, 2, 7);
}
.termekek_content{
    transition: all 1s;
}
.termekek_content:hover{
    transform: scale(1.2);
}
.fill{
    padding-bottom: 25%;
}